In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# Lets create some data to play with:

# Note: It is not necessary to understand how this dataset was made to understand this Lecture.

#import pandas testing utility
import pandas.util.testing as tm; tm.N = 3

#Create a unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return DataFrame(data, columns=['date', 'variable', 'value'])

#Set the DataFrame we'll be using
dframe = unpivot(tm.makeTimeDataFrame())

In [3]:
dframe

         date variable     value
0  2000-01-03        A  0.197579
1  2000-01-04        A -0.528614
2  2000-01-05        A  1.426101
3  2000-01-03        B  1.058025
4  2000-01-04        B -1.167968
5  2000-01-05        B -0.888449
6  2000-01-03        C -0.760959
7  2000-01-04        C -0.441386
8  2000-01-05        C  0.630508
9  2000-01-03        D -1.302158
10 2000-01-04        D  1.196682
11 2000-01-05        D -0.850421

In [4]:
dframe_piv = dframe.pivot('date','variable','value')  # Creating a pivot table
#df.pivot(row,columns,values)

In [5]:
dframe_piv

variable           A         B         C         D
date
2000-01-03  0.197579  1.058025 -0.760959 -1.302158
2000-01-04 -0.528614 -1.167968 -0.441386  1.196682
2000-01-05  1.426101 -0.888449  0.630508 -0.850421