In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
from pandas import read_html

In [3]:
#Lets grab a url for list of failed banks
url = 'http://www.fdic.gov/bank/individual/failed/banklist.html'

In [4]:
# Grab data from html and put it intop a list of DataFrame objects!
dframe_list = pd.io.html.read_html(url)

In [6]:
dframe = dframe_list[0]

In [8]:
dframe.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date,Loss Share Type,Agreement Terminated,Termination Date
0,Premier Bank,Denver,CO,34112,"United Fidelity Bank, fsb","July 10, 2015","July 14, 2015",NaN,NaN,NaN
1,Edgebrook Bank,Chicago,IL,57772,Republic Bank of Chicago,"May 8, 2015","May 19, 2015",NaN,NaN,NaN
2,Doral BankEn Espanol,San Juan,PR,32102,Banco Popular de Puerto Rico,"February 27, 2015","May 13, 2015",NaN,NaN,NaN
3,Capitol City Bank & Trust Company,Atlanta,GA,33938,First-Citizens Bank & Trust Company,"February 13, 2015","April 21, 2015",none,NaN,NaN
4,Highland Community Bank,Chicago,IL,20290,"United Fidelity Bank, fsb","January 23, 2015","April 21, 2015",none,NaN,NaN

In [9]:
dframe.columns.values

array([u'Bank Name', u'City', u'ST', u'CERT', u'Acquiring Institution',
       u'Closing Date', u'Updated Date', u'Loss Share Type',
       u'Agreement Terminated', u'Termination Date'], dtype=object)

In [10]:
url2 = 'https://en.wikipedia.org/wiki/List_of_United_States_cities_by_area'

In [11]:
cities = pd.io.html.read_html(url2)

In [41]:
citiesdf = cities[7]

In [42]:
citiesdf

                   0
0  1 - Sitka, Alaska