In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
dframe = DataFrame({'k1':['X','X','Y','Y','Z'],'k2':['alpha','beta','alpha','beta','alpha'],
                    'dataset1':np.random.randn(5),
                    'dataset2':np.random.randn(5)})

In [3]:
dframe

   dataset1  dataset2 k1     k2
0 -1.419847  0.799756  X  alpha
1  1.151073  0.961885  X   beta
2 -0.977972 -0.354805  Y  alpha
3 -1.433325 -0.147865  Y   beta
4 -2.022665 -0.255537  Z  alpha

In [4]:
group1 = dframe['dataset1'].groupby(dframe['k1'])

In [5]:
group1

In [6]:
group1.mean()

k1
X    -0.134387
Y    -1.205648
Z    -2.022665
Name: dataset1, dtype: float64

In [7]:
cities = np.array(['NY','LA','LA','NY','NY'])

In [8]:
month = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [9]:
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB    1.151073
    JAN   -0.977972
NY  FEB   -1.433325
    JAN   -1.721256
Name: dataset1, dtype: float64

In [10]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
X  -0.134387  0.880820
Y  -1.205648 -0.251335
Z  -2.022665 -0.255537

In [11]:
(-1.419847+1.151073)/2

-0.13438700000000003

In [12]:
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
X  alpha -1.419847  0.799756
   beta   1.151073  0.961885
Y  alpha -0.977972 -0.354805
   beta  -1.433325 -0.147865
Z  alpha -2.022665 -0.255537

In [13]:
dframe.groupby(['k1']).size()  # number of data points in the groups

k1
X     2
Y     2
Z     1
dtype: int64

In [14]:
dframe

   dataset1  dataset2 k1     k2
0 -1.419847  0.799756  X  alpha
1  1.151073  0.961885  X   beta
2 -0.977972 -0.354805  Y  alpha
3 -1.433325 -0.147865  Y   beta
4 -2.022665 -0.255537  Z  alpha

In [15]:
dframe.groupby(['k2']).size()

k2
alpha    3
beta     2
dtype: int64

In [16]:
for name, group in dframe.groupby('k1'):
    print "This is the %s group" %name
    print group
    print '\n'

This is the X group
   dataset1  dataset2 k1     k2
0 -1.419847  0.799756  X  alpha
1  1.151073  0.961885  X   beta


This is the Y group
   dataset1  dataset2 k1     k2
2 -0.977972 -0.354805  Y  alpha
3 -1.433325 -0.147865  Y   beta


This is the Z group
   dataset1  dataset2 k1     k2
4 -2.022665 -0.255537  Z  alpha

In [20]:
for (k1,k2), group in dframe.groupby(['k1','k2']):
    print "Key1 = %s Key2= %s" %(k1,k2)
    print group
    print '\n'

Key1 = X Key2= alpha
   dataset1  dataset2 k1     k2
0 -1.419847  0.799756  X  alpha


Key1 = X Key2= beta
   dataset1  dataset2 k1    k2
1  1.151073  0.961885  X  beta


Key1 = Y Key2= alpha
   dataset1  dataset2 k1     k2
2 -0.977972 -0.354805  Y  alpha


Key1 = Y Key2= beta
   dataset1  dataset2 k1    k2
3 -1.433325 -0.147865  Y  beta


Key1 = Z Key2= alpha
   dataset1  dataset2 k1     k2
4 -2.022665 -0.255537  Z  alpha

In [17]:
dframe

   dataset1  dataset2 k1     k2
0 -1.419847  0.799756  X  alpha
1  1.151073  0.961885  X   beta
2 -0.977972 -0.354805  Y  alpha
3 -1.433325 -0.147865  Y   beta
4 -2.022665 -0.255537  Z  alpha

In [21]:
group_dict = dict(list(dframe.groupby('k1')))  # group dictionary

In [22]:
group_dict['X']

   dataset1  dataset2 k1     k2
0 -1.419847  0.799756  X  alpha
1  1.151073  0.961885  X   beta

In [23]:
group_dict_axis1 = dict(list(dframe.groupby(dframe.dtypes,axis=1)))

In [24]:
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0 -1.419847  0.799756
 1  1.151073  0.961885
 2 -0.977972 -0.354805
 3 -1.433325 -0.147865
 4 -2.022665 -0.255537, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}

In [25]:
## Groupby with columns

In [27]:
## Groupby with columns

dataset2_group = dframe.groupby(['k1','k2'])[['dataset2']]

dataset2_group.mean()

          dataset2
k1 k2
X  alpha  0.799756
   beta   0.961885
Y  alpha -0.354805
   beta  -0.147865
Z  alpha -0.255537