In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
from numpy.random import randn

In [4]:
ser1 = Series([1,2,3,4], index = ['A','B','C','D'])

In [5]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [6]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [7]:
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [10]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value = 0)  # fills in the new index introduced

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [11]:
ser3 = Series(['USA','Mexico','Canada'], index = [0,5,10])

In [12]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [13]:
ranger = range(15)

In [14]:
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [16]:
#Can use a forward fill for interploating values vetween indices 
ser3.reindex(ranger, method ='ffill')  #forward fill

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [17]:
# reshape changes to a 5,5 matrix
dframe = DataFrame(randn(25).reshape((5,5)),index = ['A','B','D','E','F'],
                   columns = ['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -0.595103 -2.115149 -0.218750  0.603322 -2.340414
B  0.150284 -0.201044 -0.918358  0.480043 -0.407691
D  0.775731 -0.392943  0.522396  0.361305  2.415421
E  0.150669  1.213013  0.291849  0.282356 -0.079276
F  0.893865  0.123956 -0.021804 -2.042330 -1.364109

In [20]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [21]:
dframe2

       col1      col2      col3      col4      col5
A -0.595103 -2.115149 -0.218750  0.603322 -2.340414
B  0.150284 -0.201044 -0.918358  0.480043 -0.407691
C       NaN       NaN       NaN       NaN       NaN
D  0.775731 -0.392943  0.522396  0.361305  2.415421
E  0.150669  1.213013  0.291849  0.282356 -0.079276
F  0.893865  0.123956 -0.021804 -2.042330 -1.364109

In [22]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [23]:
dframe2.reindex(columns = new_columns)

       col1      col2      col3      col4      col5  col6
A -0.595103 -2.115149 -0.218750  0.603322 -2.340414   NaN
B  0.150284 -0.201044 -0.918358  0.480043 -0.407691   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.775731 -0.392943  0.522396  0.361305  2.415421   NaN
E  0.150669  1.213013  0.291849  0.282356 -0.079276   NaN
F  0.893865  0.123956 -0.021804 -2.042330 -1.364109   NaN

In [24]:
dframe

       col1      col2      col3      col4      col5
A -0.595103 -2.115149 -0.218750  0.603322 -2.340414
B  0.150284 -0.201044 -0.918358  0.480043 -0.407691
D  0.775731 -0.392943  0.522396  0.361305  2.415421
E  0.150669  1.213013  0.291849  0.282356 -0.079276
F  0.893865  0.123956 -0.021804 -2.042330 -1.364109

In [25]:
#Reindex quickly using the label-indexing with ix (we'll see this more in the future)


dframe.ix[['A','B','C','D','E','F'], new_columns]  #Reindex using ix

       col1      col2      col3      col4      col5  col6
A -0.595103 -2.115149 -0.218750  0.603322 -2.340414   NaN
B  0.150284 -0.201044 -0.918358  0.480043 -0.407691   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.775731 -0.392943  0.522396  0.361305  2.415421   NaN
E  0.150669  1.213013  0.291849  0.282356 -0.079276   NaN
F  0.893865  0.123956 -0.021804 -2.042330 -1.364109   NaN