In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

from numpy.random import randn

In [2]:
ser = Series(randn(6), index = [[1,1,1,2,2,2],['a','b','c','a','b','c']])  # Create multiple index

In [3]:
ser

1  a   -0.133811
   b   -0.577066
   c   -0.856181
2  a   -0.850513
   b    0.952158
   c    0.655225
dtype: float64

In [4]:
ser.index

MultiIndex(levels=[[1, 2], [u'a', u'b', u'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [5]:
ser[1]

a   -0.133811
b   -0.577066
c   -0.856181
dtype: float64

In [6]:
ser[2]

a   -0.850513
b    0.952158
c    0.655225
dtype: float64

In [7]:
ser[:,'a']  # selecting all values associated with the second level

1   -0.133811
2   -0.850513
dtype: float64

In [8]:
dframe = ser.unstack()  # changes low index levels as columns

In [9]:
dframe

          a         b         c
1 -0.133811 -0.577066 -0.856181
2 -0.850513  0.952158  0.655225

In [10]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],
                    columns =[['NY','NY','LA','SF'],['cold','hot','hot','cold']])

In [11]:
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [15]:
dframe2.index.names = ['INDEX_1','INDEX_2']    #Name the indexes

dframe2.columns.names = ["Cities",'Temp']  # Name the columns

In [16]:
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [17]:
dframe2.swaplevel('Cities','Temp',axis = 1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [20]:
dframe2.sortlevel(1)   # 1 is the inner index

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [19]:
dframe2.sortlevel(0)  # 0 is the outer index

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [21]:
dframe2.sum(level = 'Temp', axis = 1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27